<% provide(:title,"About") %>
<div class="col-sm-8 mx-auto">
    <h1>About</h1>
    <div>
        Tips Shelfは以下の過程で明日をよりよく生き抜くことを手助けします
        <ul>
            <li>日常で得た生き抜くためのヒント(Tip)を記録する</li>
            <li>自分だけの本棚(Shelf)に蓄積できる</li>
            <li>世界中の人とTipsを共有する</li>
            <li>世界中のTipsを日常生活に活用する</li>
        </ul>
    </div>
    <div>
        作成経緯
        <ul>
            <li>SNSやwebサイトを使って様々な情報にアクセスすることができるが、
            自分にとって本当有益な情報を得ることは大変である</li>
            <li>常に新しい情報によって、古い情報は埋もれ、風化してしまう</li>
            <li>であれば、自分にとって有益な情報を記録、共有するサービスを
            作ればいいのではないかと考えた</li>
        </ul>
    </div>
    <div>
        タイトル
        <ul>
            <li>理由１</li>
            <li>理由２</li>
            <li>理由３</li>
            <li>のように箇条書き形式でTipを投稿できます</li>
        </ul>    
    </div>
    <div>
        Tipが箇条書きになっている理由
        <ul>
            <li>形式を統一し、読みやすくすることで、他者と共有しやすくするため</li>
            <li>Tipを簡潔にする過程で、思考を整理し、洗練されたTipを残すため</li>
        </ul>
    </div>
    <div>
        Shelfについて
        <ul>
            <li>Shelf機能は投稿したTipを分類することができます</li>
            <li> ライフハック、仕事、趣味などに分類することで、他者とTipを共有しやすく、
            自分で見返しやすくなると思います</li>
        </ul>
    </div>
    <div>
        その他機能について
        <ul>
            <li>ユーザーのフォロー機能</li>
            <li>いいね機能</li>
            <li>Tipの引用機能</li>
            <li>Tip検索機能</li>
            <li>などなど</li>
            <li>今後も機能を追加していく予定</li>
        </ul>
    </div>
    <div>
        早速使ってみよう
        <ul>
            <li>まだ登録してない方はこちらから登録できます</li>
            <li>登録した方はこちらからログインできます</li>
        </ul>
    </div>
</div>