<% provide(:title, "新しいShelf") %>
<% provide(:button, "Shelfを作成する") %>
<div class="row">
    <%= render "users/user_profile"  %>
    <div class="col-md-8">
        <%= render "shelf_form" %>
    </div>
</div>