<% provide(:title, "Edit up") %>
<% provide(:url, user_path) %>
<% provide(:button_text,"Save changes") %>
<h1>Update your profile</h1>

<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <%= render "layouts/form" %>
        <div class="gravatar_edit">
            <%= gravatar_for @user %>
            <a href="http://gravatar.com/emails" target="blank" rel="noopener">change</a> 
        </div>
    </div>
</div>