<% provide(:title, @user.name) %>
<div class="row">
    <%= render "users/user_profile" %>
    <div class="col-sm-8">
    <%= render 'follow_form' if logged_in? %>
    <div class="contents">
        <% if @user.tips.any? %>
            <h3 class="border_line_bottom">Tips (<%= @tips_count %>)</h3>
            <ol class="tips">
                <%= render @tips %>
            </ol>
      <% end %>
    </div>
    </div>
</div>