<% @user ||= current_user %>
<div class="col-6 text-md-center border-gray border-right" >
    <a href="<%= following_user_path(@user) %>" class="float-right">
        <strong id="following" class="">
            <%= @user.following.count %>
        </strong>
        following
    </a>
</div>
<div class="col-6 text-md-lcenter" >
    <a href="<%= followers_user_path(@user) %>" class="float-left">
        <strong id="followers" class="stat">
            <%= @user.followers.count %>
        </strong>
        followers
    </a>
</div>
