<div class="modal fade" id="modal1">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span>×</span></button>
				<h3 class="modal-title">Tips shelfへようこそ</h3>
			</div>
			<div class="modal-body">
				<div>Tips ShelfはTips共有SNSサービスです。</div>
				<div>日常で得た生き抜くためのヒント(Tip)を記録し、自分だけの本棚(Shelf)に蓄積できます。</div>
				<div>世界中の人とTipsを共有して、明日をよりよく生き抜こう!</div>
			</div>
			<div class="modal-footer">
				<div class="btn btn-primary modal_switch"  data-source="modal1" data-target="modal2">
					次へ
    			</div>
			</div>
		</div>
	</div>
</div>
<div class="modal" id="modal2">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span>×</span></button>
				<h3 class="modal-title">Tipを投稿する</h3>
			</div>
				<div class="modal-body">
					<div>Tipはタイトルといくつかの理由の形で投稿できます。</div>
					<div>シンプルな形に整理してみんなと共有しましょう。</div>
				</div>
			<div class="modal-footer">
    			<div class="btn btn-primary modal_switch"  data-source="modal2" data-target="modal3">
					次へ
    			</div>
			</div>
		</div>
	</div>
</div>
<div class="modal" id="modal3">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span>×</span></button>
				<h3 class="modal-title">Shelfを使う</h3>
			</div>
				<div class="modal-body">
					<div>Shelfを使ってTipをテーマごとに分類できます。</div>
					<div>画面左プロフィールのボタンからShelfを作成できます。</div>
				</div>
			<div class="modal-footer">
    			<div class="btn btn-primary modal_switch"  data-source="modal3" data-target="modal4">
					次へ
    			</div>
			</div>
		</div>
	</div>
</div>
<div class="modal" id="modal4">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span>×</span></button>
				<h3 class="modal-title">Tip & ユーザー検索機能</h3>
			</div>
				<div class="modal-body">
					<div>ヘッダーの検索ボックスから気になるTip、ユーザーを検索できます。</div>
				</div>
			<div class="modal-footer">
    			<div class="btn btn-primary modal_switch"  data-source="modal4" data-target="modal5">
					次へ
    			</div>
			</div>
		</div>
	</div>
</div>
<div class="modal" id="modal5">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span>×</span></button>
				<h3 class="modal-title">共有機能</h3>
			</div>
				<div class="modal-body">
					<div>お気に入りのTipにいいねしたり、みんなのTipを引用して自分用のTipを投稿できます。</div>
					<div>お気に入りのユーザーを見つけてフォローできます。</div>
				</div>
			<div class="modal-footer">
    			<div class="btn btn-primary"  data-dismiss="modal">
					さっそく使ってみる
    			</div>
			</div>
		</div>
	</div>
</div>
