<%= form_for(current_user.likes.build, remote: true) do |f| %>
    <div>
        <%= hidden_field_tag :user_id, @user.id %>
        <%= hidden_field_tag :tip_id, tip.id %>
    </div>
    <%= button_tag :type => "submit", :class =>"btn btn-default btn-s-md" do %>
      <i class="far fa-heart lg"></i>
    <% end %>
<% end %>