<%= form_for(current_user.likes.find_by(user_id: current_user.id, tip_id: tip.id), html: { method: :delete ,class:"like_form"},remote: true) do |f| %>
    <%= button_tag :type => "submit", :class =>"btn btn-default btn-s-md" do %>
       <span>
        <%= hidden_field_tag :user_id, current_user.id %>
        <%= hidden_field_tag :tip_id, tip.id %>
    </span>
      <i class="fas fa-heart heart"></i>
    <% end %>
<% end %>
