<% provide(:title, "Tipの編集") %>
<% provide(:button, "Tipの変更を保存") %>
<div class="row">
    <%= render "users/user_profile"  %>
    <div class="col-sm-8">
       <%= render "tip_form" %>
    </div>
</div>