<% provide(:title, "新しいTip") %>
<% provide(:button, "Tipを投稿する") %>
<div class="row">
    <%= render "users/user_profile"  %>
    <div class="col-md-8">
        <%= render "tip_form" %>
    </div>
</div>